<!DOCTYPE html>
<html>
<head>
  <title>AngularRailsApiBoiler</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body ng-app="boilerApp" ng-controller="ApplicationController">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div ng-include="'nav/_nav.html'"></div>
      <ui-view></ui-view>
    </div>
  </div>
  
  <% if signed_in? %>
    <%= link_to "Sign out", api_v1_signout_path, method: "delete" %>
  <% else %>
    <%= link_to "Sign in", api_v1_signin_path %>
    <%= link_to "Sign up", api_v1_signup_path %>
  <% end %>
</body>
</html>
